<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ siteName }}</title>
    <link rel="stylesheet" type="text/css" href="{{ siteUrl }}assets/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:300,500" rel="stylesheet" async="true">
</head>
<body>

    <nav id="appNavigation" class="navigation">

        <a href="#/" id="appNavMenuButton" class="navigation__link navigation__link--visible navigation__link--menu">
            <img src="{{ siteUrl }}assets/menu-icon.svg" alt="Menu icon" class="navigation__icon">
        </a>

        <a href="#/" id="appNavMenuCloseButton" class="navigation__link navigation__link--menu">
            <img src="{{ siteUrl }}assets/close-icon.svg" alt="Close icon" class="navigation__icon">
        </a>

        <a href="{{ siteUrl }}" class="navigation__link navigation__link--visible navigation__link--logo">
            <img src="{{ siteUrl }}assets/logo.png" alt="Voltage Arc Icon (minimalistic)" class="navigation__icon">
        </a>

        <a href="#/" class="navigation__link navigation__link--visible navigation__link--search">
            <img src="{{ siteUrl }}assets/search-icon.svg" alt="Search icon" class="navigation__icon">
        </a>

        <ul id="appNavList" class="navlist">
            <li class="navlist__item"><a href="{{ siteUrl }}videos" class="navlist__link">Videos</a></li>
            <li class="navlist__item"><a href="{{ siteUrl }}music" class="navlist__link">Music</a></li>
            <li class="navlist__item"><a href="{{ siteUrl }}gallery" class="navlist__link">Gallery</a></li>
            <li class="navlist__item"><a href="{{ siteUrl }}shows" class="navlist__link">Shows</a></li>
            <li class="navlist__item"><a href="{{ siteUrl }}news" class="navlist__link">News</a></li>
        </ul>

    </nav>

    {% block content %}
        <p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
        <p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
    {% endblock %}

    <script src="{{ siteUrl }}/assets/js/app.js"></script>
</body>
</html>